In [5]:
import pandas as pd
from flask import Flask, render_template, jsonify, redirect, request, url_for, flash
from google.cloud.sql.connector import Connector, IPTypes
import pymysql
import sqlalchemy
import time
import random


connector = Connector()

def getconn() -> pymysql.connections.Connection:
    conn: pymysql.connections.Connection = connector.connect(
        "cs411-juicyfruit:us-central1:cs411-juicyfruit",
        "pymysql",
        user="root",
        password="juicyfruit1234",
        db="juicyfruit_db",
    )
    return conn

pool = sqlalchemy.create_engine(
    "mysql+pymysql://",
    creator=getconn,
)

connection = pool.raw_connection()

cursor = connection.cursor()
cursor.callproc("RevScoreQuery", [0.9])

tpl = ("Game Name", "Metacritic Rating", "Average Review Score")
data = list(cursor.fetchall())
connection.commit()


df = pd.DataFrame(data, columns=tpl)
x = df.to_html()

x

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Game Name</th>\n      <th>Metacritic Rating</th>\n      <th>Average Review Score</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby)</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>100% Orange Juice</td>\n      <td>0</td>\n      <td>0.94</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>12 Labours of Hercules</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>12 Labours of Hercules II: The Cretan Bull</td>\n      <td>0</td>\n      <td>0.92</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>12 Labours of Hercules III: Girl Power</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>12 Labours of Hercules V: Kids of Hellas</td>\n      <td>0</td>\n      <td>0.91</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>140</td>\n      <td>80</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>18 Wheels of Steel: Across America</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>1849</td>\n      <td>0</td>\n      <td>0.92</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>20XX</td>\n      <td>0</td>\n      <td>0.96</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>21 Steps to Soul</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>3030 Deathwar Redux</td>\n      <td>0</td>\n      <td>0.93</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>35MM</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>3DF Zephyr Lite 2 Steam Edition</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>3dSunshine</td>\n      <td>0</td>\n      <td>1.00</td>\n    </tr>\n  </tbody>\n</table>'